Repository 0xknon/exegesis-express-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

build: update script
  package.json
Due: none

docs: update documentation
  .gitignore
  README.md
  openapi/api.yaml
Due: prettier --write

docs: update doc
  README.md
  src/index.ts
  src/openapi/api/index.yml
  src/openapi/api/ping.yml
  src/openapi/api/users.yml
  yarn.lock
Due: prettier --write, eslint --fix

docs: update doc
  openapi/api.yaml
  src/openapi/api/index.yml
  src/openapi/api/ping.yml
Due: none

feat: add create user
  src/controllers/api/users.ts
  src/index.ts
  src/openapi/api/index.yml
  src/openapi/api/users.yml
  src/openapi/components/schemas/user.yml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.md) or (any of: *.ts)
  eslint --fix: any of: *.ts
